{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

     <div class="text-center">
           <h3>Ivanuto Igor test-task project</h3>

           <div class="jumbotron text-center">
                   <calc></calc>
               </div>

       </div>

{% endblock %}
